#main-quiz{
    background-image: linear-gradient(to bottom, #00a191, #03d3b0)
}

#tempoquestao{
    font-family: Poppins;
}

#textoTempo{
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: 195px;
    display: inline-block;
}

#textoQuestao{
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: 3px;
    display: inline-block;
}

.pergunta{
    text-align: justify;
    color: #FFFFFF;
    font-size: 17px;
    font-family: Poppins;
    border-radius: 5px;
    margin-top: 0;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
      
    50% {
        opacity: 1;
    }
}

.botao{
    margin-top: 10px;
    background-color: #009688;
    color: #FFFFFF;
    font-family: Fredoka One;
    font-size: 16px;
}

.botao:disabled{
    opacity: 1;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

.questao{
    animation-name: zoomIn;
    animation-duration: 0.7s;
    padding: 20px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 15px;
}

#resultado{
    text-align: center;
    margin-top: 25%;
    background-color: #B2DFDB;
    text-align: center;
    color: #009688;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    font-family: Poppins;
}

#textoResultado{
    font-size: 27px;
}

.tabs-ios .tab-button {
    background-color: #009688;
}

#estrela{
    font-size: 40px;
}