#conteudo{
    border-style: solid;
    border-color: #009688;
    padding: 20px;
    border-radius: 7px;
    background-color: #FFFFFF;
    text-align: justify;
    color: #000000;
    font-family: Fredoka One;
}