#conteudo{
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    text-align: justify;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Poppins;
}