#main-home{
    background-image: linear-gradient(to bottom, #00a191, #03d3b0)
}

#titulo{
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    font-family: Fredoka One;
    text-shadow: 3px 3px #000000;
    margin-bottom: 45px;
}

#botao{
    margin-top: 10px;
    background-color: #009688;
    color: #FFFFFF;
    font-family: Fredoka One;
    font-size: 18px;
    height: 42px;
    //width:300px;
}

.tabs .tabbar{
    background-color: #009688;
}


