#main-quiz{
    background-image: linear-gradient(to right, #20A294, #42B2A6 )
}

#textoTempo{
    font-size: 18px;
    font-family: Fredoka One;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-left: 185px;
    display: inline-block;
}

#textoQuestao{
    font-size: 18px;
    text-align: center;
    font-family: Fredoka One;
    color: #FFFFFF;
    margin-bottom: 15px;
    display: inline-block;
}

.pergunta{
    text-align: justify;
    color: #000000;
    font-family: Fredoka One;
    font-size: 18px;
    margin-top: 0;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
      
    50% {
        opacity: 1;
    }
}

.botao{
    margin-top: 10px;
    background-color: #009688;
    color: #FFFFFF;
    font-family: Fredoka One;
    font-size: 18px;
}

.botao:disabled{
    opacity: 1;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

.questao{
    animation-name: zoomIn;
    animation-duration: 1s;
    border-style: solid;
    border-color: #009688;
    padding: 20px;
    border-radius: 7px;
    background-color: #FFFFFF;
}

#resultado{
    font-size: 100px;
    text-align: center;
    margin-top: 40%;
    background-color: #B2DFDB;
    text-align: center;
    color: #009688;
    text-shadow: 2px 2px #000000;
    animation-name: fadeIn;
    animation-duration: 2s;
    font-family: Fredoka One;
}

#textoResultado{
    font-size: 27px;
}

.tabs-ios .tab-button {
    background-color: #009688;
}